header{
  height: 40px;
  background: orangered;
  text-align: center;
}

body{
  background: lightskyblue;
}

img{
  height: 150px;
  border: 2px solid black;
  float: right;
}

h2{
  color: orangered;
}
